Repository sbt/zinc, pull requests merged in 2018-03, with the labels that each got.

#503 Improve printing of what is being compiled in benchmarks
  internal/zinc-benchmarks/src/main/scala/xsbt/BenchmarkBase.scala
Labels: benchmark, enhancement

#494 Fix javaOptions in benchmark project
  build.sbt
Labels: build

#506 Provide separate PrintWriters for errors and warnings
  internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/LocalJava.scala
Labels: bug, community, java support

#496 Set Scala's compiler interface version to 2.12
  bin/run-ci.sh
  build.sbt
Labels: Scala Center, bug, build

#510 extract class dependency from 'classOf' Literal
  internal/compiler-bridge-test/src/test/scala/xsbt/DependencySpecification.scala
  internal/compiler-bridge/src/main/scala/xsbt/Dependency.scala
  zinc/src/sbt-test/source-dependencies/check-dependencies-class-of/A.scala
  zinc/src/sbt-test/source-dependencies/check-dependencies-class-of/B.scala
  zinc/src/sbt-test/source-dependencies/check-dependencies-class-of/test
Labels: bug, community

#505 include only scala-library into the classpath during run
  build.sbt
  internal/compiler-interface/src/main/java/xsbti/compile/ScalaInstance.java
  internal/zinc-classpath/src/main/scala/sbt/internal/inc/ScalaInstance.scala
  internal/zinc-classpath/src/main/scala/sbt/internal/inc/classpath/ClasspathUtilities.scala
  internal/zinc-ivy-integration/src/main/scala/sbt/internal/inc/ZincComponentCompiler.scala
Labels: bug, in progress
