Repository sbt/zinc, pull requests merged in 2018-08, with the labels that each got.

#566 Fix the several typos detected by github.com/client9/misspell
  internal/compiler-interface/src/main/java/xsbti/compile/CachedCompiler.java
  internal/compiler-interface/src/main/java/xsbti/compile/ClassFileManager.java
  internal/zinc-apiinfo/src/test/scala/xsbt/api/NameHashingSpecification.scala
  internal/zinc-classpath/src/main/scala/sbt/internal/inc/ScalaInstance.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Compile.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Incremental.scala
  internal/zinc-ivy-integration/src/main/java/xsbti/compile/ZincBridgeProvider.java
Labels: community, docs

#399 Add way to skip only actual APIs
  build.sbt
  internal/zinc-persist/src/main/mima-filters/1.0.0.backwards.excludes
  internal/zinc-persist/src/main/scala/sbt/internal/inc/FileAnalysisStore.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/BinaryAnalysisFormat.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufDefaults.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufReaders.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufWriters.scala
  internal/zinc-scripted/src/test/scala/sbt/internal/inc/IncHandler.scala
  zinc/src/sbt-test/source-dependencies/store-apis-false/Bar.scala2
  zinc/src/sbt-test/source-dependencies/store-apis-false/Baz.scala
  zinc/src/sbt-test/source-dependencies/store-apis-false/Foo.scala
  zinc/src/sbt-test/source-dependencies/store-apis-false/incOptions.properties
  zinc/src/sbt-test/source-dependencies/store-apis-false/test
Labels: discussion, enhancement, java support

#575 Upgrade Scala and sbt versions plus CI
  .drone.yml
  .drone.yml.sig
  project/build.properties
Labels: Scala Center, upkeep

#542 Detect changes in private trait definitions
  build.sbt
  internal/compiler-interface/src/main/contraband-java/xsbti/api/AnalyzedClass.java
  internal/compiler-interface/src/main/contraband/other.json
  internal/zinc-apiinfo/src/main/scala/xsbt/api/HashAPI.scala
  internal/zinc-apiinfo/src/main/scala/xsbt/api/SameAPI.scala
  internal/zinc-apiinfo/src/test/scala/xsbt/api/ClassLikeHelpers.scala
  internal/zinc-apiinfo/src/test/scala/xsbt/api/HashAPISpecification.scala
  internal/zinc-apiinfo/src/test/scala/xsbt/api/NameHashingSpecification.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Changes.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Compile.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/IncrementalCommon.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/IncrementalNameHashing.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/MemberRefInvalidator.scala
  internal/zinc-persist/src/main/protobuf/schema.proto
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/BinaryAnalysisFormat.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufReaders.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufWriters.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/text/AnalyzedClassFormats.scala
  internal/zinc-persist/src/test/scala/sbt/inc/AnalysisGenerators.scala
  zinc/src/sbt-test/source-dependencies/trait-private-object/test
  zinc/src/sbt-test/source-dependencies/trait-private-val-local-inheritance/changes/Base.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-local-inheritance/src/main/scala/foo/Base.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-local-inheritance/src/main/scala/foo/TestApp.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-local-inheritance/test
  zinc/src/sbt-test/source-dependencies/trait-private-val-member-ref/changes/Base.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-member-ref/src/main/scala/foo/Base.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-member-ref/src/main/scala/foo/TestApp.scala
  zinc/src/sbt-test/source-dependencies/trait-private-val-member-ref/test
  zinc/src/sbt-test/source-dependencies/trait-private-val/test
  zinc/src/sbt-test/source-dependencies/trait-private-var/test
  zinc/src/sbt-test/source-dependencies/trait-super/test
Labels: Scala Center, bug, severe

#573 Upgrade scripted bloop to 1.0.0
  build.sbt
  internal/zinc-scripted-bloop/src/main/scala/ScriptedMain.scala
  internal/zinc-scripted/src/test/scala/sbt/internal/inc/ScriptedTests.scala
Labels: Scala Center, enhancement, infrastructure

#576 Implement project matrix by hand
  .drone.yml
  .gitignore
  bin/run-ci.sh
  build.sbt
Labels: Scala Center, build, enhancement

#572 Traverse synthetic top-level members in API
  .sbtopts
  internal/compiler-bridge/src/main/scala/xsbt/API.scala
  internal/compiler-bridge/src/main/scala/xsbt/ExtractUsedNames.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/A.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/UseSite.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/A.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/A2.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/A3.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/A4.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/UseSite.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/changes/UseSite2.scala
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/incOptions.properties
  zinc/src/sbt-test/source-dependencies/case-classes-no-companion/test
  zinc/src/sbt-test/source-dependencies/package-object-name/test
  zinc/src/sbt-test/source-dependencies/packageobject-and-traits/Bar.scala
  zinc/src/sbt-test/source-dependencies/packageobject-and-traits/Baz.scala
Labels: Scala Center, bug, severe

#571 sbt.internal.inc.Position: add startOffset and endOffset
  build.sbt
  internal/compiler-bridge/src/main/scala/xsbt/DelegatingReporter.scala
  internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/DiagnosticsReporter.scala
  internal/zinc-persist/src/main/protobuf/schema.proto
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufReaders.scala
  internal/zinc-persist/src/main/scala/sbt/internal/inc/binary/converters/ProtobufWriters.scala
  project/Dependencies.scala
Labels: binary api, community, feature

#587 Improve contributing experience (esp on windows)
  .gitignore
  CONTRIBUTING.md
  internal/zinc-benchmarks/src/main/scala/xsbt/ZincBenchmark.scala
  project/plugins.sbt
  zinc/src/test/scala/sbt/inc/cached/CommonCachedCompilation.scala
Labels: build, community, enhancement

#582 Notify analysis callback of generated non-local classes before genbcode
  internal/compiler-bridge-test/src/test/scala/xsbt/ClassNameSpecification.scala
  internal/compiler-bridge-test/src/test/scala/xsbt/ScalaCompilerForUnitTesting.scala
  internal/compiler-bridge/src/main/scala/xsbt/API.scala
  internal/compiler-bridge/src/main/scala/xsbt/Analyzer.scala
  internal/compiler-bridge/src/main/scala/xsbt/ExtractAPI.scala
  internal/compiler-bridge/src/main/scala/xsbt/LocalToNonLocalClass.scala
  internal/compiler-interface/src/test/scala/xsbti/TestCallback.scala
Labels: Scala Center, discussion, enhancement, performance

#583 Avoid regex in UsedName for the common case of names without newlines
  internal/zinc-core/src/main/scala/sbt/internal/inc/UsedName.scala
Labels: enhancement, performance

#585 Document internals of invalidation and hook profiler
  build.sbt
  internal/zinc-core/src/main/protobuf/zprof.proto
  internal/zinc-core/src/main/scala/sbt/internal/inc/ClassToSourceMapper.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Incremental.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/IncrementalCommon.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/IncrementalNameHashing.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/InvalidationProfiler.scala
  internal/zinc-core/src/main/scala/sbt/internal/inc/Lookup.scala
Labels: Scala Center, enhancement, infrastructure, performance
