Repository sbt/zinc, pull requests merged in 2018-04, with the labels that each got.

#524 Remove unnecessary, and incorrect, Java error message translation
  internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/DiagnosticsReporter.scala
Labels: bug, java support

#492 Performance optimizations for Zinc
  build.sbt
  internal/compiler-bridge/src/main/scala/xsbt/API.scala
  internal/compiler-bridge/src/main/scala/xsbt/ExtractAPI.scala
  internal/zinc-apiinfo/src/main/scala/xsbt/api/APIUtil.scala
  internal/zinc-apiinfo/src/main/scala/xsbt/api/HashAPI.scala
  internal/zinc-apiinfo/src/main/scala/xsbt/api/NameHashing.scala
  internal/zinc-apiinfo/src/main/scala/xsbt/api/Visit.scala
Labels: benchmark, binary api, performance

#533 Disable recompile all fraction for all scripted tests
  internal/zinc-scripted/src/test/scala/sbt/internal/inc/IncHandler.scala
  zinc/src/sbt-test/source-dependencies/transitive-class/test
Labels: Scala Center, enhancement

#534 Add Bloop scripted integration
  bin/run-ci.sh
  build.sbt
  internal/zinc-scripted-bloop/src/main/scala/ScriptedMain.scala
  internal/zinc-scripted/src/test/scala/sbt/internal/inc/ScriptedHandlers.scala
  internal/zinc-scripted/src/test/scala/sbt/internal/inc/ZincFileCommands.scala
Labels: Scala Center, enhancement
